.container {
  background-color: #028bbe;
}

.cardBox {
  background-color: white;
  border-radius: 20px;
  padding: 3% 4%;
}

.imgBox {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  padding-right: 5%;
}

.img2 {
  position: absolute;
  right: 120px;
  z-index: 1;
}

.img1 {
  position: relative;
  /* left: ; */
}

.img3 {
  position: relative;

  z-index: 1;
}

.img4 {
  position: absolute;
  right: 18%;
}

.titleText {
  color: #028bbe;
}

@media screen and (max-width: 700px) {
  .img2,
  .img4 {
    display: none;
  }
}
