.btn {
  background-color: #028bbe;
  width: 150px;
  border-radius: 7px;
}

.titleText {
  color: #028bbe;
}

.cardContainer{

}

.cardImgBox {
  background-color: #a9cf45;
  width: 100%;
  height: 350px;
  border-radius: 17px;
}

.cardImg{
  height: 400px;
}

.cardImg{
  height: 340px;
}

